{
    "port": {{ games_scrabble_port }},
    "baseUrl": "http://{{ games_scrabble_host }}:{{ games_scrabble_port }}/",
    "mailSender": "Scrabble Server <scrabble@{{ games_scrabble_mail_from }}>",
    "mailTransportConfig": {
        "host": "{{ games_scrabble_mail_host }}"
    }
}
